<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Add Content</h3>
    <form class="form">
        <div class="title">Content Form Elements</div>
        <div class="firstName bold">Title</div>
        <div><input type="text" class="inputTitle" placeholder="Enter the title" maxlength="200" required></div>
        <div class="descriptions bold">Brieft</div>
        <div><textarea class="brieft" rows="3" maxlength="150" required></textarea></div>
        <div class="descriptions bold">Contents</div>
        <div><textarea class="contents" rows="5" maxlength="1000" required></textarea></div>
        <div class="btn">
            <button class="btn btn-success" id="update">Submit Button</button>
            <input type="reset" class="btn btn-success" value="Reset Button">
        </div>
    </form>
</body>

</html>