<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>View Content</h3>
    <hr>
    <div class="table">
        <table>
            <tr class="firstRow row no-gutters">
                <td class="col-1 text-center pr-2">#</td>
                <td class="col-3">Title</td>
                <td class="col-6">Brief</td>
                <td class="col-2">Created Data</td>
            </tr>
            <tr class="row no-gutters">
                <td class="col-1 text-center pr-2">1</td>
                <td class="col-3">Lorem ipsum dolor sit amet</td>
                <td class="col-6">Excepteur sint occaecat cupidatat non proident, sunt in cutpa qui
                    officadeserunt mollit anim
                    id est laborum.</td>
                <td class="col-2">31/08/2016<br>12:03</td>
            </tr>
            <tr class="row no-gutters">
                <td class="col-1 text-center pr-2">2</td>
                <td class="col-3">Vestibulum tincidunt est viate</td>
                <td class="col-6">Aliquam ornare lacus adipiscing, possuere lectus et, fringilla augue.</td>
                <td class="col-2">31/08/2016<br>13:13</td>
            </tr>
            <tr class="row no-gutters">
                <td class="col-1 text-center pr-2">3</td>
                <td class="col-3">Aliquam ornare lacus adipiscing</td>
                <td class="col-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
                    est vitae
                    ultrices accumsan.
                </td>
                <td class="col-2">01/09/2016<br>15:09</td>
            </tr>
        </table>
    </div>
</body>

</html>